* {
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
}
.buttons {
	width: 800px;
	margin-left: auto;
	margin-right: auto;	
}
input {
	width: 196.5px;
}
table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;	
}
table th, table td {
	width: 200px;
	border: 1px solid #ddd;
	padding: 8px;
}
h1, table td:last-child {
	text-align: center;
}
table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table th:hover {
	cursor: pointer;
	background-color: #999;
}